


.bannerContent{
    height: 400px;
    display: flex;
    flex-direction: column;
    padding-top: 25;
    justify-content: center;
}

.tagline{
   display: flex; 
   flex-direction: column;
   height: 40%;
   justify-content: center;
    text-align: center;
}